<div fxLayout="column wrap" fxFlex="100" fxLayoutGap="25px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <header>
    <mat-toolbar color="accent"><button mat-button routerLink="/home">Home</button></mat-toolbar>
  </header>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Home Page"></mat-tab>
    <mat-tab label="Branch Maintenance">
      <div fxLayout="row wrap" style="margin-top:25px;" fxFlex="100" fxLayoutGap="25px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="margin-top:25px; width:1075px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <mat-toolbar color="primary" style="width:1106px; height:35px;">
            <h5>
              Search Criteria</h5>
          </mat-toolbar>
          <mat-card style="border:1px solid #673AB7;">
            <mat-card-content>
              <div fxLayout="column wrap" style="width:1075px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="50px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Branch Code</mat-label>
                    </mat-form-field>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Branch Name</mat-label>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="20px" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary">Search</button><button mat-raised-button color="primary" (click)="openDialog()">Create</button><button mat-raised-button color="primary">Clear</button></div>
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions></mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-top:30px;" fxFlex="100" fxLayoutGap="50px" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <mat-card style="border:1px solid #673AB7;">
          <mat-card-content>
            <div fxLayout="column" style="width:1075px;">
              <table mat-table [dataSource]="branchdata" class="table-width-fix">
                <tr mat-header-row *matHeaderRowDef="[&apos;branchcode&apos;,&apos;branchname&apos;,&apos;bankcode&apos;,&apos;branchstatus&apos;,&apos;headoffice&apos;,&apos;index&apos;]"></tr>
                <tr mat-row *matRowDef="let row; columns: [&apos;branchcode&apos;,&apos;branchname&apos;,&apos;bankcode&apos;,&apos;branchstatus&apos;,&apos;headoffice&apos;,&apos;index&apos;];"></tr>

                <ng-container matColumnDef="branchcode">
                  <th mat-header-cell *matHeaderCellDef>Branch Code</th>
                  <td mat-cell *matCellDef="let table; let i = index;">{{table.branchcode}}</td>
                </ng-container>

                <ng-container matColumnDef="branchname">
                  <th mat-header-cell *matHeaderCellDef>Branch Name</th>
                  <td mat-cell *matCellDef="let table; let i = index;">{{table.branchname}}</td>
                </ng-container>

                <ng-container matColumnDef="bankcode">
                  <th mat-header-cell *matHeaderCellDef>Bank Code</th>
                  <td mat-cell *matCellDef="let table; let i = index;">{{table.bankcode}}</td>
                </ng-container>

                <ng-container matColumnDef="branchstatus">
                  <th mat-header-cell *matHeaderCellDef>Branch Status</th>
                  <td mat-cell *matCellDef="let table; let i = index;">{{table.branchstatus}}</td>
                </ng-container>

                <ng-container matColumnDef="headoffice">
                  <th mat-header-cell *matHeaderCellDef>Head Office</th>
                  <td mat-cell *matCellDef="let table; let i = index;">{{table.headoffice}}</td>
                </ng-container>

                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let table; let i = index;"></td>
                </ng-container>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>