<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <h3>
      Create Branch</h3>
  </div>
  <form [formGroup]="createForm">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
        <input matInput required formControlName="branchCode">
        <mat-label>Branch Code</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
        <input matInput required formControlName="branchName">
        <mat-label>Branch Name</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
        <input matInput required formControlName="bankCode">
        <mat-label>Bank Code</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
        <mat-select formControlName="branchStatus" placeholder="Branch Status" required>
          <ng-template ngFor let-option [ngForOf]="branchstatus" let-i="index">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-template>
        </mat-select>

      </mat-form-field>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
        <mat-select formControlName="headOffice" placeholder="Head Office" required [disabled]="false">
          <ng-template ngFor let-option [ngForOf]="headOffice" let-i="index">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-template>
        </mat-select>

      </mat-form-field>
      <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="3em" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" (click)="create()">Create</button><button mat-raised-button color="warn" (click)="cancel()">Cancel</button></div>
    </div>
  </form>
</div>