/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.logo-size {
    max-width: 60%;
    max-height: 60%;
}

.expansion-width {
    max-width: 200px;
}

.font-family {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.pointer {
    cursor: pointer;
}

.toolbar-font {
    font-size: 16px;
}

.list-font {
    font-size: 14px;
}

.toolbar-background {
    background: #ffffff;
}

.heading-align {
    align-content: center;
}

.font-bold {
    font-weight:bold;
}

.hunderd-height {
    height: 100%;
}

.hundred-width {
    width: 100%;
}

.listitem-padding {
    padding: 1em 0;
}

.image-width {
    max-width: 4em;
}

.logout-width {
    width: 100%; padding: 0 1rem;
}

.profile-image {
    border-radius: 50%;
}

th.mat-header-cell {
text-align: center !important;
font-size: 15px;
font-weight:bold;
}

mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
border-bottom-color: rgba(0,0,0,.12);
}

table.mat-table {
text-align: center;
border-spacing: 0;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.5em 1;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 7em 0 .75em !important;
    margin-top: -.25em;
    position: relative;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}
 