<div fxLayout="column wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-icon>keyboard_backspace</mat-icon>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-icon>delete</mat-icon>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-icon style="margin-right: 1em !important;">sd_storage</mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="2em" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
        <input matInput required>
        <mat-label>Bank Code</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
        <input matInput required>
        <mat-label>Branch Code</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
        <input matInput required>
        <mat-label>Branch Name</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
        <input matInput required>
        <mat-label>Branch Name(Arabic)</mat-label>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Basic Info">
        <div fxLayout="column wrap" style="width:1075px;margin-top:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-toolbar color="primary" style="width:1325px; height:30px;margin-left: 10px;">
            <p style="font-size:12px;">
              Basic Information</p>
          </mat-toolbar>
          <mat-card style="border:1px solid #673AB7;margin-left: 10px;height:250px;">
            <mat-card-content>
              <div fxLayout="column wrap" style="width:1075px;height:100px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Branch Type</mat-label>
                    </mat-form-field>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Branch Type</mat-label>
                    </mat-form-field>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Branch Code</mat-label>
                    </mat-form-field>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Branch Name</mat-label>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="12em" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-checkbox labelPosition="left" required>Head Office?</mat-checkbox>
                    <mat-checkbox labelPosition="left" required>Allow Branch to Open Dept?</mat-checkbox>
                    <mat-checkbox labelPosition="left" required>Allow Branch to Close Dept?</mat-checkbox>
                    <mat-checkbox labelPosition="left" required>Centralized?</mat-checkbox>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxLayout="column wrap" style="width:1075px;margin-top:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-toolbar color="primary" style="width:1325px; height:30px;margin-left: 10px;">
            <p style="font-size:12px;">
              Transaction Parameters</p>
          </mat-toolbar>
          <mat-card style="border:1px solid #673AB7;margin-left: 10px;height:250px;">
            <mat-card-content>
              <div fxLayout="column wrap" style="width:1075px;height:100px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Check Cash Balance Currency</mat-label>
                    </mat-form-field>
                    <mat-checkbox labelPosition="left" required>Denomination Required ?</mat-checkbox>
                    <mat-checkbox labelPosition="left" required>Predective Denomination ?</mat-checkbox>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Exchange Rate Variance(%)</mat-label>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="false" [fxHide]="true">
                  <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Cash Balance Ccy</mat-label>
                    </mat-form-field>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Minimum Cash Balance</mat-label>
                    </mat-form-field>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Maximum Cash Balance</mat-label>
                    </mat-form-field>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
                      <input matInput required>
                      <mat-label>Maximum Cash Balance Insured</mat-label>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Contact Info" [disabled]="false"></mat-tab>
      <mat-tab label="Printing Parameters" [disabled]="true"></mat-tab>
      <mat-tab label="GL Codes" [disabled]="true"></mat-tab>
    </mat-tab-group>
  </div>
</div>